<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flower field</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
      <h1>Field of Dreams</h1>
      <div id='headerNavOptions'>
        {{#if logged_in}}
          <h3 id='logout'>Logout</h3>
          <h3 id='profileButton'>Profile</h3>
          <h3 id='newFlowerButton'>Make New Flower</h3>
          {{else}}
          <h3>Login</h3>
        {{/if}}
          <h3>?</h3>
      </div>
  </header>
  <div>
    {{{body}}}
  </div>
  <p id='login-proxy' style='display:none'>{{logged_in}}</p>
</body>
{{#if logged_in}}
<script src="./js/logout.js"></script>
<script>
  //lol I know you aren't supposed to do in-doc js but I was lazy and didn't wanna make a whole new file to link everywhere
  document.querySelector('#newFlowerButton').addEventListener('mousedown',function(){
    window.location.href = "/create"
  })

  document.querySelector('#profileButton').addEventListener('mousedown',function(){
    window.location.href = "/profile"
  })
  </script>
{{/if}}
</html>
