<div class='aboutPage'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error modi quas, debitis a pariatur ullam quam maxime suscipit libero quaerat sint repudiandae quis nulla, adipisci est. Cupiditate fuga quos amet!</p>
</div>
