<div style='position:relative'>
    <canvas id="mainField" style='margin:0px'></canvas>
    <div id='userFlowers'>
        <h2>My Flowers</h2>
        <p id='userFlowersExpand'>-</p>
        <div id='flowerCanvDiv'></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.js"></script>
<script src="./js/flowerEngine.js"></script>
<script src="./js/field.js"></script>