<header>
    <h1>Field of Dreams</h1>
    <div>
        <h3>Logout</h3>
        <h3>Profile</h3>
        <h3>?</h3>
    </div>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.js"></script>
<script src="flowerEngine.js"></script>
<script src="field.js"></script>