<div id='loginPageCont'>
    <div class='formDiv'>
        <h3>Login</h3>
        <form class='userForm' id='login-form'>
            <label for='login-email'>Email</label>
            <input id='login-email'>
            <label for='login-password'>Password</label>
            <input type= "password" id='login-password'>
            <button type='submit'>login</button>
        </form>
    </div>
    <div class='formDiv'>
        <h3>Sign Up</h3>
        <form class='userForm' id='signup-form'>
            <label for='signup-email'>Email</label>
            <input id='signup-email'>
            <label for='signup-username'>Username</label>
            <input id='signup-username'>
            <label for='signup-password'>Password</label>
            <input type= "password" id='signup-password'>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>