<div id='profileContainer'>
    <div id='profileDiv'>
        <h2>{{user.username}}'s Profile</h2>
        {{#each user.flowers as |flower|}}
            <div class="profileFlowerDiv">
                <canvas width="75" height="75" id={{flower.id}}></canvas>
                <h3>{{flower.name}}</h3>
                <button data-flowerid={{flower.id}} class="profileFlowerDelete">DELETE</button>
            </div>
        {{/each}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.js"></script>
<script src="./js/flowerEngine.js"></script>
<script src="./js/profile.js"></script>