<div id='profileContainer'>
    <div id='profileDiv'>
        <h2>{{username}}'s Profile</h2>
    </div>
</div>
<script>console.log({{user}})</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.js"></script>
<script src="./js/flowerEngine.js"></script>
<script src="./js/profile.js"></script>