* {
    font-family: 'Space Mono';
    box-sizing: border-box;
}

header {
    position: relative;
    top:0px;
    left:0px;
    width: 100vw;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    background-color: rgb(22,16,22);
    padding: 10px;
    border-bottom: 2px solid yellow;
    box-sizing: border-box;
}

header > * {
    margin-block-start: 0px;
    margin-block-end: 0px;

}

header > div {
    display: flex;
    align-items: center;
    margin-right: 40px
}

header > div > h3 {
    margin-left: 20px;
    color: yellow;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: normal;
    font-size: 16px;
    padding: 5px;
}

header > div > h3:hover {
    color: rgb(22,16,22);
    cursor: pointer;
    background-color: rgb(255, 0, 200);
    border-radius: 15px;
}

header > h1 {
    color: yellow;
    font-family: Helvetica;
    font-size: 24px;
}

header > h3 {
    color: yellow
}
/* CREATOR PAGE STYLES */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

input[type="range"]::-webkit-slider-runnable-track {
    /* background: yellow; */
    height: 20px;
    border-radius: 0px 0px 15px 15px;
}

input[type="range"]::-moz-range-track {
    height: 20px;
    border-radius: 0px 0px 15px 15px;
}

input[type="range"]::-webkit-slider-thumb {
    /* box-shadow: -20px 0px yellow,-40px 0px yellow,-60px 0px yellow; */
    width: 30px;
    height: 20px;
    background-color: rgb(255, 0, 200);
    border-radius: 15px;
}

input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 20px;
    background-color: rgb(255, 0, 200);
    border-radius: 15px;
}


body {
    margin: 0px;
    background-color: rgb(22,16,22);
}  

#creatorBody {
  display: flex; 
  margin: 0px;
  justify-content: center;
  height: 90vh;
}

#displayHousing {
    /* width: 60vw; */
    display: flex;
    flex-direction: column;

    margin: 20px;
    /* height: 95vh; */
    padding: 20px;
    margin-bottom: 20px;
    border: 2px yellow solid;
    border-radius: 15px;

}

#displayHousing > h2 {
    color: yellow;
    font-family: Helvetica;
    /* text-decoration: underline; */
    margin-left: 10px;
}

#displayHousing > canvas {
    border-radius: 15px;
    border: 2px yellow solid;
}

#displayHousing > button {
    border: none;
    margin-top: 10px;
    border-radius: 15px;
}

#regenButton {
    height: 40px;
}



#saveButton {
    height: 100px
}


#flowerName {
    background-color: rgb(22,16,22);
    border: 1px yellow solid;
    margin-bottom: 10px;
    border-radius: 15px;
    color: yellow;
    padding: 10px;
    font-size: 20px;
}


#inputHousing {
    /* width: 40vw; */
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100%;
    overflow: scroll;
    background-color: rgb(22,16,22);
    border: 2px yellow solid;
    padding: 20px;
    border-radius: 15px;
}

#inputHousing > h2 {
    font-family: Helvetica;
    color: yellow;
    margin-left: 10px;
}

.slider {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px yellow solid;
    padding: 10px 0px 0px 0px;
    border-radius: 15px;
    margin: 10px;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* position: relative; */
    /* height: 100px; */

}

.slider > input {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    border-top: 2px yellow solid;
}


.slider > p {
    color: yellow;
    margin: 0px 10px 3px 10px
}

.display {
    color:rgb(255, 0, 200);
}

.rgbSliderGroup {
    width: 95%;
    border: 2px yellow solid;
    margin: 10px;
    border-radius: 15px
}

.rgbHeader {
    border-bottom: 2px yellow solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rgbTitle {
    color: yellow;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px;
}

.rgbColorDisplay {
    width: 100%;
    height: 100%;
    border: 2px yellow solid;
    border-radius: 0px 15px 0px 0px;
}

.rgbSliderDiv {
    display: flex;
    border-top: 1px yellow solid;

}

.rgbSliderDiv > p,input{
    margin: 5px;
}

.rgbSliderDiv > input{
    border-left: 1px yellow solid
}

.whichColor{
    color: yellow
}




/* FIELD STYLES */


#userFlowers {
    position: absolute;
    top: 0px;
    background-color: rgb(22,16,22);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    width: 500px;
}

.noFlowersDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    color: yellow;
}

#userFlowersExpand {
    color: yellow;
    position: absolute;
    top: 6px;
    right: 50px;
    font-size: 20px;
}

#userFlowersExpand:hover{
    color:rgb(255, 0, 200)
}

#userFlowers > h2 {
    font-family: Helvetica;
    color: yellow;
    margin-left: 5px;
    font-size: 32px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 15px;
    width: 200px
}

#userFlowers > h2:hover {
    color:rgb(255, 0, 200)
}

.userFlowerCanv {
    border-radius: 15px;
    margin: 5px;
    box-sizing: border-box;
    outline-offset: -2px
}

.userFlowerCanv:hover {
    outline-color:rgb(255, 0, 200);
    outline-style: dashed;
}


.userFlowersClose {
    animation-name: close;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}

@keyframes close {
    0% {
        width: 500px;
        max-height: 100%;
        overflow: auto;
    }

    100% {
        width: 300px;
        max-height: 75px;
        overflow: hidden;
    }
}

.userFlowersOpen {
    animation-name: open;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        width: 300px;
        max-height: 75px;
        overflow: hidden;
    }

    100% {
        width: 500px;
        max-height: 100%;
        overflow: auto;
    }
}

#topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    display: flex;
}

#topRight > h3 {
    margin-left: 10px;
    color: yellow;
    background-color: rgb(22,16,22);
    padding: 20px;
    border-radius: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Helvetica;
}







/* PROFILE PAGE STYLES */


#profileContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#profileDiv {
    margin: 20px;
    max-width: 768px;
    width: 100%
}

#profileDiv > h2 {
    color: yellow;
    font-family: Helvetica;
    font-size: 32px;
    /* font-weight: normal; */
}


.profileFlowerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px yellow solid;
    border-radius: 15px;
    width: 100%;
    color: yellow;
}

.profileFlowerDiv > h3 {
    font-weight: 100;
}
.profileFlowerDiv > canvas {
    border-radius: 15px;
}

.profileFlowerDiv > button {
    justify-self: flex-end;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(22,16,22);
    border: 1px solid tomato;
    color: tomato


}

.profileFlowerDiv > button:hover {
    background-color: tomato;
    border: 1px solid rgb(22,16,22);
    color: rgb(22,16,22);
}



/* VIEWER PAGE STYLES */

#mainCont {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

#flowerInfoCont {
    max-width: 768px;
    width: 100%;
    margin: 20px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#flowerTitle {
    font-family: Helvetica;
    font-size: 32px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px;
    color:rgb(22,16,22)
}

#viewerReGen {
    background-color: rgb(22,16,22);
    border: none;
    border-radius: 15px;
    display: flex;
    color: yellow;
    padding: 10px
}

#attrCont {
    position: absolute;
    top: 0px;
    background-color: rgb(22,16,22);
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
}

#attrCont > p {
    color: yellow;
    margin-block-start: 0px;
    margin-block-end: 0px;
}




/* LOGIN STUFF */

#loginPageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    flex-wrap: wrap;
    height: 80vh;
}

.formDiv {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid yellow;
}

.userForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.userForm > label {
    margin-top: 5px;
}

.userForm > input {
    border: 2px solid yellow;
    border-radius: 15px;
    background-color: rgb(22,16,22);
    color:rgb(255, 0, 200);
    padding: 5px 15px 5px 15px
}

.userForm > button {
    margin: 5px;
    padding: 5px;
    margin-top: 15px;
    background-color: rgb(22,16,22);
    border: 2px solid rgb(255, 0, 200);
    color: rgb(255, 0, 200);
    border-radius: 15px;
}

.userForm > button:hover {
    background-color: rgb(255, 0, 200);
    border: 2px solid rgb(22,16,22);
    color: rgb(22,16,22);
}